html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}


#wrapper {
    display: flex;
    height: 100%;
}

#showPanel {
    width: 70%;
    outline: 1px solid black;
    overflow: auto;
    background-image: linear-gradient(black, white);
}

#controlPanel {
    width: 30%;
    outline: 1px solid black;
}

#nameOfPanel {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

#showResultJson {
    background-color: aliceblue
}

#button {
    margin: 20px;
}

#searchElement {
    outline: 1px solid black;
}

h3 {
    text-align: center;
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
}

#showResult {
    margin: 10px;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    margin: 10px;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 12px 12px 12px #DFDFDF;
}

#showHeader,
#userCounter {
    color: #F3F3F3;
}